body{
    font-family: Verdana, Arial;
    max-width: 900px;
    margin: auto;
}

a{
    text-decoration: underline;
    color: orange;
}

.contato{
    list-style-type: square;
    padding-left: 15px;
}

.contato li a{
    text-decoration: none;
}

.minha_foto{
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
    border: 5px solid orange;
}

.post{
    border: 3px solid orange;
    padding: 15px;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
}


.titulo_do_post {
    color: orange;
    font-style: italic;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 15px;
}

.subtitulo {
    color: orange;
    font-style: italic;
    font-size: 20px;
}

.corpo_do_post {
    color: orange;
    font-style: italic;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-transform: capitalize;
    text-align: center;
}

#meu_nome {
    color: red;
    font-style: italic;
    font-size: 40px;
    text-transform: uppercase;
}

.imagem_do_post {
    margin-bottom: 15px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
    width: 100%;
}

