html{
    font-size: 64.5%;
    padding-bottom: 500px;
}

.b1{
    background-color: rgb(168, 245, 245);
    font-size: 3em;
}

.b2{
    background-color: rgb(206, 178, 233);
    font-size: 2em;
}

.b3{
    background-color: rgb(206, 178, 233);
    font-size: 3rem;
    /* Mesmo tamanho do b1, mas usando um método diferente.
    Está pegando do root (no caso, 10px, que é 64.5% de 16px)*/
}

.b3 b{
    font-size: 4em;
}

.paddin-com-em{
    background-color: #000;

}

.paddin-com-em p{
    background-color: transparent;
    color: red;
    font-size: 3rem;
    margin: 0;
    padding: 1em;
}

.porcentagem{
    background-color: #00000060;
    width: 200px;
    height: 200px;
}

.viewport-container{
    font-size: 3rem;
}

.viewport{
    background-color: rgba(0, 128, 0, 0.466);
    height: 90vh;
    width: 90vw;
}